.list__item-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}



.ui.fluid.action.input {
  width: 100%;
}

.list__item {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 60vh;
  background-color: #fff;
}